.head{
    text-align: center;
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    margin-bottom: 50px;


}
#table{
    border: 2px solid green;
}
h3{
    color: darkblue;
    text-align: center;
    font-size: 20px;
    text-decoration-line: underline;
}
p{
    text-align: center;
    font-size: medium;} 
.card{
    border: 5px double yellow;
    width: 500px;
    height: 230px;
    background-image: url("images/download.jpg");
    background-position: center;
    background-size: cover;

    
}
#result{
    padding: 20px;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
}
.hidden{
    display:none;
}